<div class="card shadow-sm">
	<div class="card-header d-flex">
		<div class="flex-grow-1 bd-highlight"><strong>Co się dzieje?</strong></div>
	</div>
	<div class="card-body">
		<a asp-action="Create" class="form-control">Napisz coś...</a>
	</div>
</div>
