@page
@model BlogBook.Pages.ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdzenie adresu Email";
}

<h2>Potwierdzenie adresu Email</h2>
<hr />
<div>

    @{
        if (ViewData.ContainsKey("Success"))
        {
            <p>
				Dziękujemy za potwierdzenie adresu email! Kliknij <a asp-area="" asp-page="/Login">tutaj</a>, aby się zalogować.
            </p>
        }
        else
        {
            <p>
                Coś poszło nie tak :/.
            </p>
        }
    }
</div>