@page
@using BlogBook.Model;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppIdentityUser> SignInManager
@model IndexModel
@{
    ViewData["Title"] = "Główna";

    var isSigned = SignInManager.IsSignedIn(User);
    var userName = User?.Identity?.Name ?? "";
}

<div class="text-center">
    <h1 class="display-4">BlogBook</h1>
    <p>Tylko tutaj czekają na Ciebie najlepsze blogi!</p>
</div>

<hr />

<div class="d-flex bd-highlight justify-content-around gap-5 p-5">
	<div class="flex-1 card shadow-lg p-3">
        <h3>Dziel się</h3>
        <p>Spełniaj marzenia przez dzielenie się przeżyciami! Załóż konto i rozpocznij niesamowitą podróż w świat mikroblogowania!</p>
        @if (isSigned)
        {
            <a class="btn btn btn-outline-primary mt-auto" href="@Url.Action("Create", "/Posts")">Stwórz wpis</a>
        } else
        {
            <a class="btn btn btn-outline-primary mt-auto" asp-page="/Register">Załóż konto</a>
        }
    </div>
    <div class="flex-1 card shadow-lg p-3">
        <h3>Odkrywaj</h3>
        <p>Inspiruj się przeżyciami innych poprzez eksplorowanie blogów innych użytkowników!
            Przeglądaj niekończące się opowieści, rozmyślania i bądź bogatszy o nowe doświadczenia!</p>
        <a class="btn btn btn-outline-primary mt-auto" href="@Url.Action("Index", "/Posts")">Przeglądaj</a>
    </div>
</div>

<hr />

<h3>Popularne</h3>

@foreach (var item in Model.Model)
{
    <div id="post_@item.Id">
		@await Html.PartialAsync("_PostPartial", item)
    </div>
}
