@page
@using Microsoft.AspNetCore.Identity;
@model IndexModel
@{
    ViewData["Title"] = "Główna";
}

<div class="text-center">
    <h1 class="display-4">BlogBook</h1>
    <p>Tylko tutaj czekają na Ciebie najlepsze blogi!</p>
</div>

<hr />

<h3>Popularne</h3>

@foreach (var item in Model.Model)
{

	@await Html.PartialAsync("_PostPartial", item)

}
