@page
@model BlogBook.Pages.LoginModel
@{
}

@{
	ViewData["Title"] = "Login";
}

<h1>Logowanie</h1>

<hr />
@{
	if (ViewData.ContainsKey("Message"))
	{
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<div>
						@Html.Raw(ViewData["Message"])
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>
			</div>
		</div>
	}
}
<div class="row">
	<div class="col-md-5">

		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="mb-3">
				<label asp-for="Model.Email" class="control-label"></label>
				<input asp-for="Model.Email" class="form-control" />
				<span asp-validation-for="Model.Email" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Model.Password" class="control-label"></label>
				<input asp-for="Model.Password" class="form-control" />
				<span asp-validation-for="Model.Password" class="text-danger"></span>
			</div>
			<div class="mb-3 form-check">
				<input type="checkbox" asp-for="Model.RememberMe" class="form-check-input" />
				<label asp-for="Model.RememberMe" class="control-label"></label>
			</div>
			<input type="submit" value="Zaloguj" class="btn btn-primary" />
		</form>
		<div class="mb-5 p-3">
			<p>
				<span class="link" onclick="$('#ForgotPassword').submit()">Nie pamiętam hasła</span>
			</p>
			<p>
				Nie masz jeszcze konta? <a asp-page="/Register">Zarejestruj się!</a>
			</p>
		</div>

	</div>
</div>

<form method="post" id="ForgotPassword" asp-page="/ResetPassword" style="display: none">
	<input type="hidden" name="reason" value="ForgotPassword" />
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
