@page
@model BlogBook.Pages.LogoutModel
@{
}


<h1>Wylogowanie</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h5>Czy na pewno chcesz się wylogować?</h5>
            <div class="d-flex align-items-center gap-3 mt-4">
				<button class="btn btn-primary ps-4 pe-4" asp-page-handler="Logout">Tak</button>
				<button class="btn btn-light border-dark ps-4 pe-4" asp-page-handler="NoLogout">Nie</button>
            </div>
        </form>
    </div>
</div>