@page "{userName?}"
@using BlogBook.Model;
@using Microsoft.AspNetCore.Identity;
@model BlogBook.Pages.ProfileModel
@inject SignInManager<IdentityUser> SignInManager

@{
	ViewData["Title"] = "Profil";
	var isSigned = SignInManager.IsSignedIn(User);
	var userName = User?.Identity?.Name ?? "";
}

<h1>@Model.ProfileUser.UserName</h1>
<h5> Posty: @Model.Posts.Count</h5>
<hr />

@if (isSigned && userName == Model.ProfileUser.UserName)
{
	@await Html.PartialAsync("_PostNewPartial")
}

@foreach (var item in Model.Posts)
{
	@await Html.PartialAsync("_PostPartial", item)
}

