@page
@model BlogBook.Pages.ResetPasswordModel
@{
	ViewData["Title"] = "Reset hasła";
	var reason = (string)(ViewData["reason"] ?? "");
}

<h1>Reset hasła</h1>
<hr />
@{
	if (ViewData.ContainsKey("message"))
	{
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<div>
						@Html.Raw(ViewData["message"])
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>
			</div>
		</div>
	}
	else if (ViewData.ContainsKey("messageBad"))
	{
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<div>
						@Html.Raw(ViewData["messageBad"])
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>
			</div>
		</div>
	}
}
<div class="row">
    <div class="col-md-10">
		@if(reason == "ForgotPassword")
		{
			<form method="post">
				<input type="hidden" name="reason" value="SendEmail" />
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="mb-3">
					<label asp-for="ResetModel.Email" class="control-label"></label>
					<input asp-for="ResetModel.Email" class="form-control" />
					<span asp-validation-for="ResetModel.Email" class="text-danger"></span>
				</div>
				<input type="submit" value="Resetuj hasło" class="btn btn-primary" />
			</form>
		}
		else if (reason == "Success")
		{
			<p>
				<a asp-page="/Login">Przejdź do logowania</a>
			</p>
		}
		else
		{
			<form method="post">
				<input type="hidden" name="reason" value="NewPassword" />
				<input type="hidden" name="code" value="@ViewData["code"]" />
				<input type="hidden" name="id" value="@ViewData["id"]" />
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="mb-3">
					<label asp-for="ResetModel.Password" class="control-label"></label>
					<input asp-for="ResetModel.Password" class="form-control" />
					<span asp-validation-for="ResetModel.Password" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="ResetModel.ConfirmPassword" class="control-label"></label>
					<input asp-for="ResetModel.ConfirmPassword" class="form-control" />
					<span asp-validation-for="ResetModel.ConfirmPassword" class="text-danger"></span>
				</div>
				<input type="submit" value="Ustaw nowe hasło" class="btn btn-primary" />
			</form>
		}

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
