@model BlogBook.Model.Post

@{
    ViewData["Title"] = "Usuwanie";
}

<h2>Czy chcesz usunąć ten wpis?</h2>

@await Html.PartialAsync("_PostPartial", Model)

<form class="d-flex mt-5" asp-action="Delete">
	<input type="hidden" asp-for="Id" />
	<a class="btn btn-outline-secondary me-3" href="@Url.Action("Details", "Posts", new { id = Model.Id })">Powrót</a>
	<input class="btn btn-danger" type="submit" value="Usuń" />
</form>
